[Desktop Entry]
Version=0.17.6
Name=BitStash Core
Comment=Connect to the BitStash P2P Network
Exec=bitstash-qt %u
Terminal=false
Type=Application
Icon=bitstash128
MimeType=x-scheme-handler/bitstash;
Categories=Network;
StartupWMClass=BitStash-qt
Name[en_US]=bitstash-qt
